{
  "extends": "plugin:nullstack/recommended",
  "rules": {
    "nullstack/prettier": [
      "warn",
      {
        "trailingComma": "all",
        "tabWidth": 1,
        "semi": false,
        "singleQuote": true,
        "printWidth": 120
      },
      {
        "usePrettierrc": false
      }
    ]
  }
}