.buttons{
  display: flex;
  margin-top: 10px
}
button {
  background-color: #be185d;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 2rem;
  border: 0;
  width: 100%;
  cursor: pointer;
}
button:last-child {
  background-color: #2b18be;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 2rem;
  border: 0;
  width: 100%;
  cursor: pointer;
}