section {
  width: 100%;
  max-width: 48rem;
  min-height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5em;
}

@media (max-width: 768px) {
  section {
    flex-wrap: wrap;
  }
}